<div class="container">

<div class="row sheet">
    <div class="span12">

        <h1>@Html.LocalizedText("TermsAndConditions")</h1>

        @Html.LocalizedText("TermsAndConditionsText")


    </div>

</div>
</div>