@{
    ViewBag.Title = "FAQ";
}

<div class="container" id="faq">

    <div class="row sheet">
        <div class="span12">
            <div class="tools">
                <a class="show-all" href="#">Tout montrer</a> | <a class="hide-all" href="#">Tout fermer</a>
            </div>

            <h2>FAQ</h2>

            <h3>Le service</h3>

            <a class="faq-question" href="javascript:void(0)">
                <i class="icon-plus-sign"></i> Qu’est-ce que ManBox ?
            </a>
            <p class="faq-answer">ManBox est un service d’abonnement en essentiels masculins. ManBox vous offre la possibilité de concevoir vous-même votre ManBox en y intégrant les produits de votre choix parmi son assortiments de sous-vêtements, chaussettes, préservatifs, rasoirs et produits de corps. Vous pouvez aussi sélectionner un pack déjà conçu pour plus de faciliter. Votre ManBox vous est alors livré tous les trois mois.</p>

            <a class="faq-question" href="javascript:void(0)">
                <i class="icon-plus-sign"></i> Comment fonctionne ManBox ?
            </a>
            <p class="faq-answer">Une fois votre première ManBox commandée vous recevez automatiquement tous les trois mois la même ManBox. Cependant, si vous souhaitez changer son contenu, vous pouvez le faire à tout moment via votre compte ManBox. Vous pouvez aussi avancer ou reculer sa date de réception.</p>

            <a class="faq-question" href="javascript:void(0)">
                <i class="icon-plus-sign"></i> Y a-t-il un montant d’achat minimum ?
            </a>
            <p class="faq-answer">Non, il n’y a pas de montant d’achat minimum. Cependant, nous ne vous offrons la livraison gratuite qu’à partir d’un montant de 29€ d’achat.</p>

            <a class="faq-question" href="javascript:void(0)">
                <i class="icon-plus-sign"></i> Que se passe-t-il si je pars en vacance quand ma ManBox est censée arriver ?
            </a>
            <p class="faq-answer">Vous pouvez sans aucun souci décider d’avancer ou de retarder la livraison de votre 	ManBox via l’onglet « votre commande ».</p>

            <a class="faq-question" href="javascript:void(0)">
                <i class="icon-plus-sign"></i> Comment puis-je stopper mon abonnement ?
            </a>
            <p class="faq-answer">Vous stoppez votre abonnement quand vous le souhaitez. Pour cela, il suffit d'envoyer un mail à l'adresse suivante : support@manbox.fr </p>


            <h3>Les produits</h3>

            <a class="faq-question" href="javascript:void(0)"><i class="icon-plus-sign"></i> Vos prix sont-ils plus chers qu’en magasin ? </a>
            <p class="faq-answer">Nos prix sont alignés à ceux présent en magasin. ManBox vous propose ainsi un prix tout aussi compétitif, le service en plus !</p>

            <a class="faq-question" href="javascript:void(0)"><i class="icon-plus-sign"></i> Comment savoir quelle taille choisir ? </a>
            <p class="faq-answer">Un guide des tailles est à votre disposition pour les boxers et les slips.</p>

            <a class="faq-question" href="javascript:void(0)"><i class="icon-plus-sign"></i> Pourquoi votre gamme n’est-elle pas plus étendue ?</a>
            <p class="faq-answer">
                Parce que nous sélectionnons rigoureusement nos fournisseurs afin de ne vous proposer que des articles de qualités. Ainsi, nous préférons vous proposer une gamme plus mince tout en vous garantissant la qualité de tous nos produits.<br />
                Toutefois, n'hésitez pas à nous faire connaître les produits que vous souhaiteriez voir dans notre boutique via l'adresse support@manbox.fr.
            </p>

            <a class="faq-question" href="javascript:void(0)"><i class="icon-plus-sign"></i> Que faire si un article ne me convient pas ?</a>
            <p class="faq-answer">
                Vous pouvez contacter l’équipe ManBox via l’adresse suivante : support@manbox.fr . Vous recevrez un bon à apposer sur le colis afin de pouvoir nous le retourner gratuitement. Vous pourrez ensuite choisir d'être soit remboursé directement via votre compte bancaire ou sous forme d'un bon d'achat valable sur votre prochaine livraison.<br />
                Tout retour d'article est accepté si celui-ci se présente en bon état.
            </p>

            <a class="faq-question" href="javascript:void(0)"><i class="icon-plus-sign"></i> Puis-je modifier le contenu de ma ManBox ?</a>
            <p class="faq-answer">Vous pouvez modifier le contenu de votre ManBox autant de fois que vous le souhaitez. Si vous désirer une ManBox différente tous les trois mois, il n’y a aucun problème à cela. Vous pouvez rajouter ou enlever des articles comme vous le souhaitez. </p>


            <h3>La livraison</h3>

            <a class="faq-question" href="javascript:void(0)"><i class="icon-plus-sign"></i> Combien coûte la livraison ?</a>
            <p class="faq-answer">La livraison est gratuite dès 29€ d’achat. En deça, il vous en coûtera 3 &euro;.</p>

            <a class="faq-question" href="javascript:void(0)"><i class="icon-plus-sign"></i> Dans quels pays puis-je être livré ?</a>
            <p class="faq-answer">ManBox ne livre pour le moment que les pays du Benelux et la France.</p>

            <a class="faq-question" href="javascript:void(0)"><i class="icon-plus-sign"></i> Combien de temps dois-je attendre entre la commande et la livraison ?</a>
            <p class="faq-answer">La livraison se fait en général dans un délai de 3 à 5 jours. Si parfois elle prend un peu de retard, elle ne dépasse pas la limite des 7 jours ouvrables. </p>

            <a class="faq-question" href="javascript:void(0)"><i class="icon-plus-sign"></i> Comment se passe la livraison ?</a>
            <p class="faq-answer">Vous pouvez choisir le lieu de livraison de votre ManBox à votre meilleure convenance. Généralement, elle est envoyée au domicile ou sur le lieu de travail. Vous pouvez aussi modifier le lieu de livraison comme bon vous semble. </p>

            <h3>Le paiement</h3>

            <a class="faq-question" href="javascript:void(0)"><i class="icon-plus-sign"></i> Comment puis-je payer ?</a>
            <p class="faq-answer">
                Vous pouvez payer avec la plupart des cartes de crédit (Visa, Mastercard) ou via PayPal.
            </p>

            <a class="faq-question" href="javascript:void(0)"><i class="icon-plus-sign"></i> Comment se passe le payement ?</a>
            <p class="faq-answer">
                Vous entrez vos données de carte de crédit ou de compte PayPal lors de la première commande. Nous obtenons un code sécurisé lié à votre compte et dont nous nous servons pour facturer les livraisons ultérieures. Nous n'avons jamais accès à vos données bancaires.
            </p>

            <a class="faq-question" href="javascript:void(0)"><i class="icon-plus-sign"></i> Les payements sont-ils parfaitement sécurisés ?</a>
            <p class="faq-answer">
                Les payements sont sécurisés via les plateformes de payement de nos partenaires Paymill et PayPal. Ces derniers encryptent toutes les communications d'un bout à l'autre de la transaction afin de limiter au mieux les risques d'intrusions. ManBox ne stocke jamais de numéro de carte de crédit ou d'autres données bancaires.
            </p>

            <h3>Encore des questions ?</h3>

            <a class="faq-question" href="javascript:void(0)"><i class="icon-plus-sign"></i> Comment puis-je contacter l’équipe de ManBox ?</a>
            <p class="faq-answer">Si vous avez encore des questions qui persistent, n’hésitez pas à nous contacter à l’adresse suivante : support@manbox.fr </p>
        </div>
    </div>
</div>
