<div class="container">
    <div class="row sheet">
        <div class="span12">

            <h1>@Html.LocalizedText("Imprint")</h1>

            @Html.LocalizedText("ImprintText")

        </div>
    </div>
</div>