@{
    ViewBag.Title = "Qu'est-ce que ManBox?";
}

<div class="container">

    <div class="row sheet">
        <div class="span8">
            <h2>Qu'est-ce que ManBox?</h2>

            <h3>Le meilleur moyen pour &ecirc;tre r&eacute;approvisionn&eacute; en essentiels masculins.</h3>
            <p>
                Vos slips ne sont jamais propres quand vous en avez besoin ? Votre m&egrave;re continue &agrave; vous offrir des chaussettes pour no&euml;l parce qu&rsquo;elle a honte de voir les v&ocirc;tres trou&eacute;es ? Vous vous rappelez toujours d&rsquo;acheter des pr&eacute;servatifs quand c&rsquo;est trop tard pour en trouver ? <br /><br />
                Avec ManBox ne vous laissez plus jamais d&eacute;passer ! Tous les trois mois vous recevrez votre Box sur-mesure.
            </p>

            <h3>Un service d&rsquo;abonnement sans engagement contraignant.</h3>
            <p>
                Vous partez en vacances ou vous avez trop d&eacute;pens&eacute; en sorties ce mois-ci ? No soucis, vous pouvez reculer ou avancer la r&eacute;ception de votre Box. Votre copine vous fait remarquer qu&rsquo;elle vous trouverait beaucoup plus sexy en cale&ccedil;on am&eacute;ricain ? No soucis, vous modifiez le contenu de votre box quand vous le souhaitez.<br /><br />
                Vous modifiez, avancez, reculez et m&ecirc;me supprimez votre ManBox &agrave; tout moment. C&rsquo;est sans engagement, c&rsquo;est vous qui g&eacute;rez.
            </p>
            <h3>Bref ManBox c&rsquo;est l&rsquo;ultime moyen de se faciliter la vie !</h3>
        </div>
    </div>
</div>