<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://manbox.be/</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>https://manbox.cloudapp.net:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>manbox.be</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>MANBOXWEB\manboxDeploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ManBoxEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:kp9t4mvwkd.database.windows.net,1433;Initial Catalog=manboxALlQZTyEt7;User ID=manboxdb@kp9t4mvwkd;Password=Gf1Put1!" Name="Data Source=tcp:kp9t4mvwkd.database.windows.net,1433;Initial Catalog=manboxALlQZTyEt7;User Id=manboxdb@kp9t4mvwkd;Password=Gf1Put1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ManBox.Model.ManBoxEntities, ManBox.Model" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ManBoxEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ManBox.Model.csdl|res://*/ManBox.Model.ssdl|res://*/ManBox.Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:kp9t4mvwkd.database.windows.net,1433;Initial Catalog=manboxALlQZTyEt7;User Id=manboxdb@kp9t4mvwkd;Password=Gf1Put1!"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>