@model ManBox.Model.ViewModels.CreditCardSetupViewModel

<div class="container">
<div class="row checkout sheet">
    <div class="span5">

        <div class="payment-errors"></div>

        <form id="payment-form" action="@Url.Action("PaymillPay")" method="POST" class="checkout-form">

         <input class="card-amount-int" type="hidden" value="@Model.PaymentParameters.TotalInt" />
          <input class="card-currency" type="hidden" value="EUR" />

          <div class="form-row"><label>Credit card number</label>
            <input class="card-number" type="text" size="20" /></div>

          <div class="form-row"><label>CVC</label>
            <input class="card-cvc" type="text" size="4" /></div>

          <div class="form-row"><label>Name</label>
            <input class="card-holdername" type="text" size="4" /></div>

          <div class="form-row"><label>Expiry date (MM/YYYY)</label>
            <input class="card-expiry-month" type="text" size="2" />
            <span></span>
            <input class="card-expiry-year" type="text" size="4" /></div>

          <button class="btn btn-success btn-large" type="submit">Submit</button>

        </form>
    </div>
    <div class="span7"></div>
</div>
</div>
@section scripts {
<script type="text/javascript">
    var PAYMILL_PUBLIC_KEY = '@Model.PaymillPublicKey';
</script>
<script type="text/javascript" src="https://bridge.paymill.com/"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#payment-form").submit(function (event) {
            // Deactivate submit button to avoid further clicks
            $('.submit-button').attr("disabled", "disabled");

            paymill.createToken({
                number: $('.card-number').val(),   // required, without spaces and hyphens
                exp_month: $('.card-expiry-month').val(),   // required
                exp_year: $('.card-expiry-year').val(),     // required, four digits e.g. "2016"
                cvc: $('.card-cvc').val(),                  // required
                amount_int: $('.card-amount-int').val(),     // required, integer e.g. "15" for 0.15 EUR
                currency: $('.card-currency').val(), // required, ISO 4217 e.g. "EUR" or "GBP"
                cardholder: $('.card-holdername').val()     // optional
            }, PaymillResponseHandler);                   // this function is described below

            return false;
        });
    });

    function PaymillResponseHandler(error, result) {
        if (error) {
            // Shows the error above the form
            $(".payment-errors").text(error.apierror);
            $(".submit-button").removeAttr("disabled");
        } else {
            var form = $("#payment-form");
            // Output token
            var token = result.token;
            // Insert token into form in order to submit to server
            form.append("<input type='hidden' name='paymillToken' value='" + token + "'/>");
            form.get(0).submit();
        }
    }
</script>
}
