<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <connectionStrings>
    <add name="ManBoxEntities" 
         connectionString="metadata=res://*/ManBox.Model.csdl|res://*/ManBox.Model.ssdl|res://*/ManBox.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ManBox;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         />
  </connectionStrings>
  
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- 3rd party services config PROD  -->
    <add key="segmentIO" value="yos4ebq8h8" />
    <add key="fbAppIdBE" value="405373066217085" />
    <add key="fbAppSecretBE" value="da99d288df65af1a196e384f2e71f866" />
    <add key="fbAppIdFR" value="471149049590796" />
    <add key="fbAppSecretFR" value="dabf142a95e80ae1475ed68f9afe1d94" />
    <add key="fbAppIdNL" value="444297048980157" />
    <add key="fbAppSecretNL" value="790e8b96ce9f0c8a1424aeb802dd0239" />
    <add key="paypalAccount" value="info@manbox.fr" />
    <add key="paypalUrl" value="https://www.paypal.com/cgi-bin/webscr" />
    <add key="paymillPublicKey" value="8a8394c13df383f5013e13247e782cd7" />
    <add key="paymillApiKey" value="0875cc47620172ec587bebcbf7989c6e" />
    <add key="paymillApiUrl" value="https://api.paymill.de/v2" />
    <add key="cdnImagePath" value="//portalvhds6wfqq29j7cwwp.blob.core.windows.net/static" />
    <add key="blogJsonFeedUrlFR" value="http://manbox.be/blog/?json=get_recent_posts&amp;include=url,title,excerpt&amp;count=5" />
    <!--<add key="blogJsonFeedUrlNL" value=""/> UNCOMMENT TO ENABLE NL BLOG DISPLAY ON HOME-->
    
    <!-- end 3rd party services config -->
    
  </appSettings>

  <!-- PayPal SDK config -->
  <paypal xdt:Transform="Replace">
    <settings>
      <!-- Integration mode - Can be one of live/sandbox -->
      <add name="mode" value="live" />
      <!-- Connection timeout in milliseconds. Defaults to 30 seconds -->
      <add name="connectionTimeout" value="30000" />
      <!-- The number of times a request must be retried if the API endpoint is unresponsive. Defaults to 1 -->
      <add name="requestRetries" value="3" />
      <!-- Your IP Address. -->
      <add name="IPAddress" value="137.116.195.210" />
    </settings>
    <accounts>
      <account apiUsername="info_api1.manbox.fr" apiPassword="J5AC9EAEE578GDZ7" apiSignature="A5ViGG2NPV1-hs9yxBhB5D0iFZXZAUaDUycZGIQyg1mUTvhXPKbvV.7R" applicationId="APP-31T07627TG7500939" />
    </accounts>
  </paypal>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->

    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="~/Error" />
    </customErrors>

    <caching xdt:Transform="Replace">
      <outputCache enableOutputCache="true" />
    </caching>
  </system.web>


  <applicationSettings xdt:Transform="Replace">
    <ManBox.Common.Properties.Settings>
      <setting name="EmailFromAddress" serializeAs="String">
        <value>support@manbox.fr</value>
      </setting>
      <setting name="EmailFromName" serializeAs="String">
        <value>ManBox</value>
      </setting>
      <setting name="EmailTemplatesPath" serializeAs="String">
        <value>C:\inetpub\manboxMailTemplates\</value>
      </setting>
      <setting name="MandrillApiKey" serializeAs="String">
        <value>8c82147f-005e-4c6d-9683-5d40ceee79df</value>
      </setting>
    </ManBox.Common.Properties.Settings>
  </applicationSettings>
  
  <dotless xdt:Transform="Replace" minifyCss="true" cache="true" />

  <nlog xdt:Transform="Replace">
    <extensions>
      <add assembly="ManBox.Common" />
    </extensions>
    <targets async="true">
      <target name="loggly" type="Loggly" inputkey="2b83e059-f878-4d08-896f-6cf147ee9014"/>
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" appendTo="loggly"/>
    </rules>
  </nlog>
</configuration>