<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <connectionStrings>
    <add name="ManBoxEntities"
         connectionString="metadata=res://*/ManBox.Model.csdl|res://*/ManBox.Model.ssdl|res://*/ManBox.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ManBox;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         />
  </connectionStrings>

  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- 3rd party services config DEV -->
    <add key="segmentIO" value="yos4ebq8h8" />
    <add key="fbAppIdBE" value="557360394274981" />
    <add key="fbAppSecretBE" value="831e8c9ee7395b47fed4f2aca4644a88" />
    <add key="fbAppIdFR" value="557360394274981" />
    <add key="fbAppSecretFR" value="831e8c9ee7395b47fed4f2aca4644a88" />
    <add key="fbAppIdNL" value="557360394274981" />
    <add key="fbAppSecretNL" value="831e8c9ee7395b47fed4f2aca4644a88" />
    <add key="paypalAccount" value="sdvsdvs@manbox.be" />
    <add key="paypalUrl" value="https://www.sandbox.paypal.com/webscr" />
    <add key="paymillPublicKey" value="97873861546cfbb63b0557e6d8fe90de" />
    <add key="paymillApiKey" value="91d84d3fb854a6bca25d2b9e15ee6395" />
    <add key="paymillApiUrl" value="https://api.paymill.de/v2" />
    <add key="cdnImagePath" value="//portalvhds6wfqq29j7cwwp.blob.core.windows.net/static" />
    <add key="blogJsonFeedUrlFR" value="http://manbox.be/blog/?json=get_recent_posts&amp;include=url,title,excerpt&amp;count=5" />
    <!--<add key="blogJsonFeedUrlNL" value=""/> UNCOMMENT TO ENABLE NL BLOG DISPLAY ON HOME-->
    
    <!-- end 3rd party services config -->

  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->

    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="~/Error" />
    </customErrors>

    <caching xdt:Transform="Replace">
      <outputCache enableOutputCache="true" />
    </caching>
  </system.web>


  <applicationSettings xdt:Transform="Replace">
    <ManBox.Common.Properties.Settings>
      <setting name="EmailFromAddress" serializeAs="String">
        <value>support@manbox.fr</value>
      </setting>
      <setting name="EmailFromName" serializeAs="String">
        <value>ManBox</value>
      </setting>
      <setting name="EmailTemplatesPath" serializeAs="String">
        <value>C:\inetpub\manboxMailTemplates\</value>
      </setting>
      <setting name="MandrillApiKey" serializeAs="String">
        <value>8c82147f-005e-4c6d-9683-5d40ceee79df</value>
      </setting>
    </ManBox.Common.Properties.Settings>
  </applicationSettings>

  <dotless xdt:Transform="Replace" minifyCss="true" cache="true" />

  <nlog xdt:Transform="Replace">
    <extensions>
      <add assembly="ManBox.Common" />
    </extensions>
    <targets async="true">
      <target name="loggly" type="Loggly" inputkey="42e9351c-ba29-4f76-827b-0b0edf66c272"/>
      <target name="logfile" type="File" fileName="C:\inetpub\logs\AppLogs\manbox.log.txt" />
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" appendTo="loggly"/>
      <logger name="*" minLevel="Trace" appendTo="logfile" />
    </rules>
  </nlog>
</configuration>