
<div id="movieModal" class="modal hide fade" tabindex="-1" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
        <div class="flex-video">
            <iframe id="manbox-video" src="http://www.youtube.com/embed/ZLDipwpDDlQ?vq=hd720&amp;showinfo=0&amp;modestbranding=1" frameborder="0" allowfullscreen=""></iframe>
        </div>
    </div>
    
    @*<div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">@Html.LocalizedText("CloseBtn")</button>
    </div>*@
</div>