
<div id="videoModal" class="modal hide fade" tabindex="-1" aria-hidden="true">
    <div class="modal-body">
        <iframe width="600" height="338" src="#" frameborder="0" allowfullscreen></iframe>
    </div>

    
    
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">@Html.LocalizedText("CloseBtn")</button>
    </div>
</div>