@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="container">

    <div class="row sheet">
        <div class="span12">
            <div style="background:#fff; padding: 20px">
                <h2 class="error">Une erreur s'est produite.. </h2>
                <p>Désolé. C'est nul mais on essaie de réparer ça au plus vite. Merci pour votre patience.</p>

                <img src="~/Content/images/butwhy.jpg" />
            </div>
        </div>
    </div>
</div>
